@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500"

$footer-height = 100px

html
  position relative
  min-height 100%

body
  font-family Roboto
  margin 0 0 $footer-height
  padding 0

.literature
  margin 1rem

#not-found
  margin 1rem
  padding 1rem

.side-menu-list
  a
    color black
    text-decoration none

footer
  background #fff
  border-top 1px solid #c0c0c0
  color #575757
  bottom 0
  position absolute
  height $footer-height
  width 100%
  .logo, .info
    display inline-block
    padding 1rem