@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
#main {
  min-height: 80%;
}
.literature {
  margin: 1rem !important;
}
footer {
  background: #fff;
  border-top: 1px solid #c0c0c0;
  color: #575757;
  height: 80px;
}
footer .logo,
footer .info {
  float: left;
  padding: 1rem;
}
